{% extends 'home_layout.html' %}
{% block content %}
    <div class="row">
    <img class="ml-2" src="{{ book.cover_url }}" width="280" height="380" alt="Book cover">   
        <div class="ml-4 media-body">
          <div class="article-metadata">
            <h1 class="mr-2" href="#">{{ book.title }}</h1>
            <h4 class="article-title">{{ book.authors }}</h4>
          </div>
          <div class="text-muted">Publicated date: {{ book.published_date}}</div>
          <div class="text-muted">ISBN number: {{ book.ISBN_number}}</div>
          <div class="text-muted">Number of pages: {{ book.page_number}}</div>
          <div class="text-muted">Publicated language: {{ book.publication_language }}</div>
          {% if book.addedby == current_user %}
              <a class="btn btn-secondary btn-sm m-1" href="{{ url_for('books.update_book', book_id=book.id)}}">Update</a>
              <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
          {% endif %}
          <a href="{{ url_for('users.user_books', username=book.addedby.username) }}">
            <div class="m-4 badge badge-primary text-wrap">added to Librotuo by: {{ book.addedby.username }}</div>
          </a>
        </div>
  </div> 

  <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Delete book?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <form action="{{ url_for('books.delete_book', book_id=book.id) }}" method="POST">
                <input class="btn btn-danger" value="Delete" type="submit">
            </form>
            </div>
        </div>
        </div>
    </div>
{% endblock content %}
