{% extends 'home_layout.html' %}
{% block content %}
    <div class="row">
    {% for book in books %}
    <article class="media book-section col">
        <div class="media-body">
          <div class="article-metadata">
            <h4><a class="mr-2" href="{{ url_for('book', book_id=book.id) }}">{{ book.title }}</a></h4>
            <h6 class="article-title">{{ book.authors }}</h6>
          </div>
          <small class="">Publicated: {{ book.published_date}}</small>
          <small class="">Language: {{ book.publication_language }}</small>
          <a href="{{ url_for('book', book_id=book.id) }}">
            <img src="{{ book.cover_url }}" width="150" height="200" alt="Book cover">
          </a>
          <small class="mt-2 text-muted">added by: {{ book.addedby.username }}</small>
        </div>
        
      </article>
    {% endfor %}
    
  </div>
{% endblock content %}