<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
        <title>Librotuo - {{  title  }}</title>
    {% else %}
        <title>Librotuo</title>
    {% endif %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css')}}">
    <script src="https://use.fontawesome.com/7f3c0aa4e3.js"></script>


</head>
<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
                    <a class="navbar-brand" href="/">
                        <img id="navLogo" src="/static/images/logo_orginal.png" alt="Logo"> 
                    </a>
                    <a class="navbar-brand" href="{{ url_for('main.home') }}">Librotuo</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <!-- Items -->
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('main.home') }}">
                                <i class="fa fa-book"></i>  Books
                            </a>
                        </li>
                        <a class="nav-item nav-link mr-4" href="{{ url_for('main.about') }}">
                            <i class="fa fa-info-circle"></i> About
                        </a>
                    </ul>
                        <!-- Right menu -->
                    <div class="navbar-nav">
                        {% if current_user.is_authenticated %}
                            <a class="new-item nav-link mr-2" href="{{ url_for('books.search_book_from_google') }}">
                                <i class="fa fa-plus-circle"> Add book from google</i>
                            </a>
                            <a class="new-item nav-link mr-2" href="{{ url_for('books.add_book') }}">
                                <i class="fa fa-plus"> Add book</i>
                            </a>
                            <a class="nav-item nav-link mr-2" href="{{ url_for('users.account') }}">
                                <i class="fa fa-user"></i> Account
                            </a>
                            <a class="nav-item nav-link" href="{{ url_for('users.logout') }}">
                                <i class="fa fa-power-off"></i> Log out
                            </a>
                        {% else %}
                        <a class="nav-item nav-link mr-2" href="{{ url_for('users.login') }}">
                            <i class="fa fa-user"></i> Login
                      </a>
                        <a class="nav-link" href="{{ url_for('users.register') }}">
                            <i class="fa fa-sign-in"></i> Sign up
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
</header>

<main role="main" class="container">
    <div class="row">
        <div class="col-8"> 
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif%}
            {% endwith %}
            {% block content %}{% endblock %}
        </div>
        <div class="col-4">
            <h3>Filter search</h3>
            <p class="text-muted">Search your book using filters</p>
            <form class="form-inline mr-auto" method="POST" action="{{ url_for('books.search_book')}}">
                <div class="md-form my-0 mb-2">
                    <input class="form-control" type="text" placeholder="Search by Title" aria-label="Search" name="title_input">
                    <button type="submit" class="btn btn-outline-primary"><i class="fa fa-search"></i></button>
                </div>
              </form>
              <form class="form-inline mr-auto" method="POST" action="{{ url_for('books.search_book') }}">
                <div class="md-form my-0 mb-2">
                  <input class="form-control" type="text" placeholder="Search by Author Name" aria-label="Search" name="authors_input">
                    <button type="submit" class="btn btn-outline-primary"><i class="fa fa-search"></i></button>
                </div>
              </form>
              <form class="form-inline mr-auto" method="POST" action="{{ url_for('books.search_book') }}">
                <div class="md-form my-0 mb-2">
                  <input class="form-control" type="text" placeholder="Search by language" aria-label="Search" name="lang_input">
                    <button type="submit" class="btn btn-outline-primary"><i class="fa fa-search"></i></button>
                </div>
              </form>
              <form class="form-inline mr-auto" method="POST" action="{{ url_for('books.search_book') }}">
                <div class="md-form my-0 mb-2">
                  <input class="form-control" type="text" placeholder="Search by publication date" aria-label="Search", name="publication_date_input">
                    <button type="submit" class="btn btn-outline-primary"><i class="fa fa-search"></i></button>
                </div>
              </form>
        </div>
    </div>
</main>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>